#config_version=6
# GEMINI

mode:
  start_events: ball_starting
  priority: 100

################################## Shots

shots:
  shot_red:                               # rollovers and standup
    switch: s_red_1, s_red_2
    profile: p_onoff
    reset_events: ball_started
    show_tokens:
      light: red_lights
  shot_red2:
    switch: s_red_1, s_red_2
    profile: p_offon
    reset_events: ball_started
    show_tokens:
      light: l_red_star
  shot_white:
    switch: s_white_1, s_white_2, s_white_3
    profile: p_onoff
    reset_events: ball_started
    show_tokens:
      light: white_lights
  shot_white2:
    switch: s_white_1, s_white_2, s_white_3
    profile: p_offon
    reset_events: ball_started
    show_tokens:
      light: l_white_star
  shot_green:
    switch: s_green_1, s_green_2, s_green_3
    profile: p_onoff
    reset_events: ball_started
    show_tokens:
      light: green_lights
  shot_green2:
    switch: s_green_1, s_green_2, s_green_3
    profile: p_offon
    reset_events: ball_started
    show_tokens:
      light: l_green_star
  shot_yellow:
    switch: s_yellow_1, s_yellow_2
    profile: p_onoff
    reset_events: ball_started
    show_tokens:
      light: yellow_lights
  shot_yellow2:
    switch: s_yellow_1, s_yellow_2
    profile: p_offon
    reset_events: ball_started
    show_tokens:
      light: l_yellow_star

  shot_dt_red_left:                              # drop targets
    switch: s_red_left
  shot_dt_red_right:
    switch: s_red_right
  shot_dt_white_right:
    switch: s_white_right
  shot_dt_white_left:
    switch: s_white_left
  shot_dt_green_right:
    switch: s_green_right
  shot_dt_green_left:
    switch: s_green_left
  shot_dt_yellow_right:
    switch: s_yellow_right
  shot_dt_yellow_left:
    switch: s_yellow_left
  
  
################################## Shot Groups

shot_groups:
  drop_targets:
    shots:
      - shot_dt_red_left
      - shot_dt_red_right
      - shot_dt_white_right
      - shot_dt_white_left
      - shot_dt_green_right
      - shot_dt_green_left
      - shot_dt_yellow_right
      - shot_dt_yellow_left
    reset_events:
      - drop_targets_complete
      - ball_started
  500scores:
    shots:
      - shot_red
      - shot_white
      - shot_green
      - shot_yellow
      - shot_3ball_red_yellow
  3ballstars:
    shots:
      - shot_3ball_red_yellow2
      - shot_white2
      - shot_green2
  5ballstars:
    shots:
      - shot_red2
      - shot_white2
      - shot_green2
      - shot_yellow2

################################## Event Player

event_player:
  drop_targets_lit_complete:
    extra_ball_lit
  3ballstars_lit_complete:
    special_lit
  5ballstars__lit_complete:
    special_lit
  500scores_hit{device.timers.score_motor_500_timer.running==False and device.timers.score_motor_5000_timer.running==False and device.timers.score_motor_dt_stars_timer.running==False}:
    pay500
  s_extra_ball_active{device.timers.score_motor_500_timer.running==False and device.timers.score_motor_5000_timer.running==False and device.timers.score_motor_dt_stars_timer.running==False}:
    pay5000
  s_special_active{device.timers.score_motor_500_timer.running==False and device.timers.score_motor_5000_timer.running==False and device.timers.score_motor_dt_stars_timer.running==False}:
    pay5000
  drop_targets_hit{device.timers.score_motor_500_timer.running==False and device.timers.score_motor_5000_timer.running==False and device.timers.score_motor_dt_stars_timer.running==False}:
    paydrops

################################## Variable Player - scoring

variable_player:
  sw_pops_active{game.balls_per_game == 3 and device.timers.score_motor_500_timer.running==False and device.timers.score_motor_5000_timer.running==False and device.timers.score_motor_dt_stars_timer.running==False}:
    score: 1000
  sw_pops_active{game.balls_per_game == 5 and device.timers.score_motor_500_timer.running==False and device.timers.score_motor_5000_timer.running==False and device.timers.score_motor_dt_stars_timer.running==False}:
    score: 100

  timer_score_motor_500_timer_tick: 
    score: 100
  timer_score_motor_5000_timer_tick: 
    score: 1000
  
  timer_score_motor_dt_stars_timer_tick{ticks==1}:
    score: 1000
  timer_score_motor_dt_stars_timer_tick{ticks==2 and device.shots.shot_green2.state_name == 'lit'}:
    score: 1000
  timer_score_motor_dt_stars_timer_tick{ticks==3 and (device.shots.shot_red2.state_name == 'lit' or device.shots.shot_3ball_red_yellow2.state_name == 'lit')}:
    score: 1000
  timer_score_motor_dt_stars_timer_tick{ticks==4 and (device.shots.shot_yellow2.state_name == 'lit' or device.shots.shot_3ball_red_yellow2.state_name == 'lit')}:
    score: 1000
  timer_score_motor_dt_stars_timer_tick{ticks==5 and device.shots.shot_white2.state_name == 'lit'}:
    score: 1000

  s_dingwalls_active{device.timers.score_motor_500_timer.running==False and device.timers.score_motor_5000_timer.running==False and device.timers.score_motor_dt_stars_timer.running==False}:
    score: 10
  s_left_sling_active{device.timers.score_motor_500_timer.running==False and device.timers.score_motor_5000_timer.running==False and device.timers.score_motor_dt_stars_timer.running==False}:
    score: 10
  s_right_sling_active{device.timers.score_motor_500_timer.running==False and device.timers.score_motor_5000_timer.running==False and device.timers.score_motor_dt_stars_timer.running==False}:
    score: 10

  mode_base_started.3:        #set replay_mode and std or high replay levels based on jones plugs/switches at start of ball
    replay_mode:
      int: device.switches.s_game_mode.state
      action: set
    replay_level:
      int: device.switches.s_replay_level.state
      action: set

  mode_base_started.2{game.balls_per_game == 3 and current_player.replay_mode == 1 and current_player.replay_level == 1}:   #replays mode and std score levels
    replay_level_1: 
      int: 120000
      action: set
    replay_level_2: 
      int: 160000
      action: set
    replay_level_3: 
      int: 999999
      action: set
  mode_base_started.2{game.balls_per_game == 3 and current_player.replay_mode == 1 and current_player.replay_level == 0}:   #replays mode and hi score levels
    replay_level_1: 
      int: 140000
      action: set
    replay_level_2: 
      int: 180000
      action: set
    replay_level_3: 
      int: 999999
      action: set
  mode_base_started.2{game.balls_per_game == 5 and current_player.replay_mode == 1 and current_player.replay_level == 1}:   #replays mode and std score levels
    replay_level_1: 
      int: 130000
      action: set
    replay_level_2: 
      int: 170000
      action: set
    replay_level_3: 
      int: 999999
      action: set
  mode_base_started.2{game.balls_per_game == 5 and current_player.replay_mode == 1 and current_player.replay_level == 0}:   #replays mode and hi score levels
    replay_level_1: 
      int: 150000
      action: set
    replay_level_2: 
      int: 190000
      action: set
    replay_level_3: 
      int: 999999
      action: set
  mode_base_started.2{current_player.replay_mode == 0 and current_player.replay_level == 1}:   #add-a-ball mode and std score levels
    replay_level_1: 
      int: 90000
      action: set
    replay_level_2: 
      int: 130000
      action: set
    replay_level_3: 
      int: 170000
      action: set
  mode_base_started.2{current_player.replay_mode == 0 and current_player.replay_level == 0}:   #add-a-ball mode and hi score levels
    replay_level_1: 
      int: 100000
      action: set
    replay_level_2: 
      int: 140000
      action: set
    replay_level_3: 
      int: 180000
      action: set

  logicblock_match_counter_updated:
    match_num:
      int: value
      action: set_machine

################################## Extra Ball

extra_balls:
  eb:
    award_events: shot_extra_ball_hit 
    max_per_game: 100
    group: main

  special:
    award_events: 
      - shot_special_hit{current_player.replay_mode == 0}
      - player_score{value>current_player.replay_level_1 and prev_value<=current_player.replay_level_1 and current_player.replay_mode == 0}
      - player_score{value>current_player.replay_level_2 and prev_value<=current_player.replay_level_2 and current_player.replay_mode == 0}
      - player_score{value>current_player.replay_level_3 and prev_value<=current_player.replay_level_3 and current_player.replay_mode == 0}
    max_per_game: 100
    group: main


################################## Counters

counters:
  bonus:
    count_events: 
      - shot_dt_red_left_hit{device.shots.shot_red2.state_name == 'lit'}
      - shot_dt_red_right_hit{device.shots.shot_red2.state_name == 'lit'}
      - shot_dt_white_left_hit{device.shots.shot_white2.state_name == 'lit'}
      - shot_dt_white_right_hit{device.shots.shot_white2.state_name == 'lit'}
      - shot_dt_green_left_hit{device.shots.shot_green2.state_name == 'lit'}
      - shot_dt_green_right_hit{device.shots.shot_green2.state_name == 'lit'}
      - shot_dt_yellow_left_hit{device.shots.shot_yellow2.state_name == 'lit'}
      - shot_dt_yellow_right_hit{device.shots.shot_yellow2.state_name == 'lit'}
      - shot_red_hit
      - shot_white_hit
      - shot_green_hit
      - shot_yellow_hit
      - shot_3ball_red_yellow_hit
      - s_extra_ball_active
      - s_special_active
    starting_count: 0         # no free bonus here!
    count_complete_value: 15  # not sure this is correct
    direction: up
    persist_state: false
    disable_on_complete: true
    reset_on_complete: false
    control_events:
      - event: timer_bonus_count_down_tick{ticks>0}
        action: subtract
        value: 1
  bonusx:
    count_events: 
      - drop_targets_lit_complete
      - ball_started{ball == game.balls_per_game}
    starting_count: 1         # no free bonus here!
    count_complete_value: 3  # not sure this is correct
    direction: up
    persist_state: false
    disable_on_complete: true
    reset_on_complete: false
  match_counter:
    count_events:
      player_score{player_num == 1 and change == 10}
    starting_count: machine.match_num
    direction: down
    count_interval: 10
    count_complete_value: -10
    events_when_complete: reset_match_counter
    reset_on_complete: False
    disable_on_complete: false
    control_events:
      - event: reset_match_counter
        action: jump
        value: 90

################################## Light_Player

light_player:
  "{device.counters.bonus.value == 1}":
    l_bonus_1: on
  "{device.counters.bonus.value == 2}":
    l_bonus_2: on
  "{device.counters.bonus.value == 3}":
    l_bonus_3: on
  "{device.counters.bonus.value == 4}":
    l_bonus_4: on
  "{device.counters.bonus.value == 5}":
    l_bonus_5: on
  "{device.counters.bonus.value == 6}":
    l_bonus_6: on
  "{device.counters.bonus.value == 7}":
    l_bonus_7: on
  "{device.counters.bonus.value == 8}":
    l_bonus_8: on
  "{device.counters.bonus.value == 9}":
    l_bonus_9: on
  "{device.counters.bonus.value == 10}":
    l_bonus_10: on
  "{device.counters.bonus.value == 11}":
    l_bonus_10: on
    l_bonus_1: on
  "{device.counters.bonus.value == 12}":
    l_bonus_10: on
    l_bonus_2: on
  "{device.counters.bonus.value == 13}":
    l_bonus_10: on
    l_bonus_3: on
  "{device.counters.bonus.value == 14}":
    l_bonus_10: on
    l_bonus_4: on
  "{device.counters.bonus.value == 15}":
    l_bonus_10: on
    l_bonus_5: on
  "{device.counters.bonusx.value == 2}":
    l_bonus_2x: on
  "{device.counters.bonusx.value == 3}":
    l_bonus_3x: on
 
  "{device.timers.score_motor_500_timer.running==True}":
    pop_lights: off
  "{device.timers.score_motor_5000_timer.running==True}":
    pop_lights: off
  "{device.timers.score_motor_dt_stars_timer.running==True}":
    pop_lights: off


  "{players[0].score >= 100000}":
    l_player1_rollover: on
  "{players[1].score >= 100000}":
    l_player2_rollover: on

################################## Timers

timers:
  score_motor_500_timer: # this timer is for scoring 500 points, on each pulse the game scores 100 points on the score reels (*5)
    direction: up
    start_value: 1
    end_value: 6
    tick_interval: 135ms
    debug: true
    control_events: # these are the events that score 500 points
      - action: restart
        event: pay500
  score_motor_5000_timer: # this timer is for scoring 5000 points, on each pulse the game scores 1000 points on the score reels (*5)
    direction: up
    start_value: 1
    end_value: 6
    tick_interval: 135ms
    debug: true
    control_events: # these are the events that score 5000 points
      - action: restart
        event: pay5000
  score_motor_dt_stars_timer: # this timer is for scoring drop targets hits, 1000 for hit plus 1000 for each lit star
    direction: up
    start_value: 1
    end_value: 6
    tick_interval: 135ms
    debug: true
    control_events: 
      - action: restart
        event: paydrops