#config_version=6
# GEMINI 

coils:

################################## Playfield Coils

                        #PD-16 board 2 bank 0

  c_left_pop:
    number: A2-B0-0
    default_pulse_ms: 30
  c_right_pop:
    number: A2-B0-1
    default_pulse_ms: 30

  c_red_dt_reset:
    number: A2-B0-2
    default_pulse_ms: 100
  c_white_dt_reset:
    number: A2-B0-3
    default_pulse_ms: 60
  c_green_dt_reset:
    number: A2-B0-4
    default_pulse_ms: 60
  c_yellow_dt_reset:
    number: A2-B0-5
    default_pulse_ms: 60

                        #PD-16 board 2 bank 1
  c_left_sling:
    number: A2-B1-0
    default_pulse_ms: 40
  c_right_sling:
    number: A2-B1-1
    default_pulse_ms: 40
  c_flipper_left_main:
    number: A2-B1-2
    default_pulse_ms: 50
    default_hold_power: 0.15
    allow_enable: true   
  c_flipper_right_main:
    number: A2-B1-3
    default_pulse_ms: 50
    default_hold_power: 0.15
    allow_enable: true   
  c_drain_eject:
    number: A2-B1-4
    default_pulse_ms: 250


################################## Cabinet Coils


                        #PD-16 board 1 bank 0
  c_chime_10:
    number: A1-B0-0
    default_pulse_ms: 20
  c_chime_100:
    number: A1-B0-1
    default_pulse_ms: 20
  c_chime_1000:
    number: A1-B0-3
    default_pulse_ms: 20
  c_knocker:
    number: A1-B0-4
    default_pulse_ms: 40
    pulse_events:
      replay: 0
      replay2: 150ms
      shot_extra_ball_hit: 0
      shot_special_hit: 0
  c_player_unit:
    number: A1-B0-5
    default_pulse_ms: 20
  c_score_motor:
    number: A1-B0-6
    default_pulse_ms: 10
    default_hold_power: 0.15
    



################################## Backbox Coils

                        #PD-16 board 0 bank 0

  c_player_1_10000:
    number: A0-B0-0
    default_pulse_ms: 10
    label: Player 2 10,000        
  c_player_1_1000:
    number: A0-B0-1
    default_pulse_ms: 10
    label: Player 2 1,000
  c_player_1_100:
    number: A0-B0-2
    default_pulse_ms: 10
    label: Player 2 100
  c_player_1_10:
    number: A0-B0-3
    default_pulse_ms: 10
    label: Player 2 10

  c_player_2_10000:
    number: A0-B0-4
    default_pulse_ms: 10
    label: Player 1 10,000
  c_player_2_1000:
    number: A0-B0-5
    default_pulse_ms: 10
    label: Player 1 1,000
  c_player_2_100:
    number: A0-B0-6
    default_pulse_ms: 10
    label: Player 1 100
  c_player_2_10:
    number: A0-B0-7
    default_pulse_ms: 10
    label: Player 1 10


  #                       #PD-16 board 0 bank 1
  # c_credit_up:
  #   number: A0-B1-0
  #   default_pulse_ms: 10
  #   label: Credit Up
  #   pulse_events:
  #     replay{device.switches.s_credit_up.state != 1}: 0
  #     replay2{device.switches.s_credit_up.state != 1}: 150ms
  #     s_coin_active{device.switches.s_credit_up.state != 1}: 0
  # c_credit_down:
  #   number: A0-B1-1
  #   default_pulse_ms: 10
  #   label: Credit Down
  #   pulse_events:
  #     - player_added{device.switches.s_credit_down.state != 1}

##################################  Coils for 5V (incandescent) lights
                        #PD-16 board 0 bank 1
  c_player_1:
    number: A0-B1-0
    allow_enable: true
  c_player_2:
    number: A0-B1-1
    allow_enable: true
  c_p1_100k:
    number: A0-B1-2
    allow_enable: true
  c_p2_100k:
    number: A0-B1-3
    allow_enable: true
  c_gi_bg:
    number: A0-B1-4
    allow_enable: true
  c_gi_pf:
    number: A0-B1-5
    allow_enable: true

################################## Autofire Coils

autofire_coils:
  left_slingshot:
    coil: c_left_sling
    switch: s_left_sling
  right_slingshot:
    coil: c_right_sling
    switch: s_right_sling
  
  left_pop:
    coil: c_left_pop
    switch: s_left_pop
  right_pop:
    coil: c_right_pop
    switch: s_right_pop