#config_version=6
# GEMINI 

mpf:
  report_crashes: never

config:
  - lights.yaml
  - keys.yaml
  - switches.yaml
  - coils.yaml
  - score_reels.yaml


hardware:
  platform: p3_roc
  driverboards: pdb

virtual_platform_start_active_switches:
    - s_drain
    - s_game_mode

modes:
  - base
  - ebmode
  - special
  - bonus_count
  - 3ball
  - match_fs
  - tilt
  - replay

player_vars:
  initials:
    value_type: str
    initial_value: RIF
  replay_mode:
    value_type: int
    initial_value: 1 # if device.switches.s_game_mode.state == 1 else 0    # 1 == replay for specials and score, 0 == extra balls for specials and score
  replay_level:
    value_type: int
    initial_value: 1 #if device.switches.s_replay_level.state == 1 else 0   # 1 == std levels, 0 == high levels

machine_vars:
  match_num:
    value_type: int
    initial_value: 10
    persist: True

game:
  balls_per_game: 3 if device.switches.s_balls_per_game.state == 1 else 5          # options are 3 or 5 for proper scoring, set via jones plugs
  max_players: 2

machine:
  balls_installed: 1
  min_balls: 1

light_settings:
  default_color_correction_profile: ccp_inserts
  default_fade_ms: 50
  color_correction_profiles:
    ccp_inserts:
      whitepoint: [0.75, 0.75, 0.75]
    ccp_bg:
      whitepoint: [0.75, 0.75, 0.75]

playfields:
  playfield:
    tags: default
    default_source_device: bd_drain

ball_devices:
  bd_drain:
    ball_switches: s_drain
    eject_coil: c_drain_eject
    debug: true
    eject_timeouts: 3s
    tags: drain, home, trough


drop_targets:
  dt_red_left:
    switch: s_red_left
  dt_red_right:
    switch: s_red_right
  dt_white_left:
    switch: s_white_left
  dt_white_right:
    switch: s_white_right
  dt_green_left:
    switch: s_green_left
  dt_green_right:
    switch: s_green_right
  dt_yellow_left:
    switch: s_yellow_left
  dt_yellow_right:
    switch: s_yellow_right
    
drop_target_banks:
  dt_bank_red:
    drop_targets: dt_red_left, dt_red_right
    reset_coil: c_red_dt_reset
    reset_events:
      ball_started: 0.75s
      drop_targets_complete: 0.25s
  dt_bank_white:
    drop_targets: dt_white_left, dt_white_right
    reset_coil: c_white_dt_reset
    reset_events:
      ball_started: 0.75s
      drop_targets_complete: 0.25s
  dt_bank_green:
    drop_targets: dt_green_left, dt_green_right
    reset_coil: c_green_dt_reset
    reset_events:
      ball_started: 1.25s
      drop_targets_complete: 0.75s
  dt_bank_yellow:
    drop_targets: dt_yellow_left, dt_yellow_right
    reset_coil: c_yellow_dt_reset
    reset_events:
      ball_started: 1.25s 
      drop_targets_complete: 0.75s      

#
flippers:
  left_flipper:
    main_coil: c_flipper_left_main
    activation_switch: s_left_flipper
  right_flipper:
    main_coil: c_flipper_right_main
    activation_switch: s_right_flipper
#

extra_ball_groups:
  main:
    max_per_ball: 1

################################## Shot Profiles

shot_profiles:
  p_offon:
    states:
      - name: unlit
        show: "off"
      - name: lit
        show: "on"
  p_onoff:
    states:
      - name: unlit
        show: "on"
      - name: lit
        show: "off"

################################## Light_Player

light_player:
  machine_reset_phase_3:
    bb_gi_lights: on
  mode_base_started:
    pop_lights: on
    l_tilt: off
    gi_lights: on
  tilt:
    l_tilt: on
    tilt_lights: off
  
